<h1>Add [ITEM]</h1>
<form>
    <input type="text">
    <input type="text">

    <select>
        <option>item 1</option>
        <option>item 2</option>
        <option>item 3</option>
        <option>Other</option>
    </select>

    <input type="button" value="Add">

</form>