<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/CSS/styles.css">
        
        <title>little morphues</title>
    </head>
    <body>
        
        <%- include('add-item.ejs') %>
    
    </body>
</html>
