<nav>
    <ul>
        <li><a>Start of Workout</a></li>
        <li><a>Excercise</a></li>
        <li><a>Workout Section</a></li>
        <li><a>Workouts</a></li>
    </ul>
</nav>

<h1>[ITEM]</h1>
<!--Dynamic: dependibg on list-->

<ul>
    <!--Grid-->
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>

<button>Add</button>