<nav>
    <ul>
        <li><a href= "/workout">Start of Workout</a></li>
        <li><a href= "/exercises">Exercise</a></li>
        <li><a href= "/workout-sections">Workout Section</a></li>
        <li><a href= "/workouts">Workouts</a></li>
    </ul>
</nav>

<h1><%= data.title %></h1>
<!--Dynamic: dependibg on list-->

<ul >
    <% for (i = 0; i < data.list.length; i++) { %>
    <!--Grid-->
        <li><%= data.list[i].name%></li>
    <% }%>
</ul>

<p></p>

<button>Add</button>