<h1>Workout: [ITEM]</h1>
<!--Dynamic: [ITEM] depends on workout-->
<nav>
    <ul>
        <!--Dynamic: dependibg on workout-->
        <li><span>Excercise 1</span></li>
        <li><span>Excercise 2</span></li>
        <li><span>Excercise 3</span></li>
        <li><span>Excercise 4</span></li>
        <li><span>Excercise 5</span></li>
    </ul>
</nav>
<div>
    <!--Dynamic: X chnages with reps-->
    <span>X</span><span>/</span><span>70</span>
</div>
<!--
    Entered reps on press of button is summed into X
        X for easch saved in session via JS
-->
<input type="text">
<button>Done</button>
